body{
	font-family: sans-serif;
	margin:0 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(121, 121, 134, 0.1);
	}
p{
	font-size: 20px;
	}
h1{
	margin:0;
	padding: 10px;
	background-color: rgba(121, 121, 134, 0.4);
	display: flex;
	justify-content: center;
	}
h2{
	margin:0;
	}
label, input , button {
	font-size: 22px;
	}
#form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	}
#entete{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	#temps{
		margin:10px 0;
	}
#label{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 470px;
	border:1px solid black;
	box-shadow: 2px 2px 12px;
	padding: 10px;
	}
#envoyer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:20px;
}
#rejouer{
	margin-top: 20px;
	}
#mepReponse{
	margin: 20px 0 20px 0;
	font-size: 22px;
	display: flex;
	height: 100px;
	flex-direction: column;
	justify-content: space-around;
	}
#reponse{
	padding: 10px 10px;
	font-size: 30px;
	}
#propos{
	text-align: center;
	font-size: 56px;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border:.2px solid grey;
	box-shadow: 0px 0px 12px;
	margin-right: 40px;
	margin-left: 40px;
	}
	/* Chrome, Safari, Edge, Opera */
#propos::-webkit-outer-spin-button,
#propos::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
	}

	/* Firefox */
#propos[type=number] {
  	-moz-appearance: textfield;
		}
#propos::placeholder{
	font-size: 14px;
	}
#propos:focus{
	outline: none;
	}

main{
	margin:0 50px;
	}
#valider{
	margin-bottom: 10px;
	}
#mep{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	}
.infsup{
	font-size: 170px;
	}
#inferieur{
	color:rgba(12, 34, 233, 0.06);
	}
#superieur{
	color:rgba(233, 218, 12, 0.12);
	}
#mepInf , #mepSup{
	flex-direction: column;
	}
#propos_precInf, #propos_precSup{
	text-align: center;
	align-items: center;
	font-size: 40px;
	padding:20px 0;
	border-radius:100%;
	color:white;
	}
#propos_precSup{
	background-color: rgba(233, 218, 12, 0.12);
	}
#propos_precInf{
	background-color:rgba(12, 34, 233, 0.06)
	}
#chrono{
	border-radius: 50px;
	box-shadow: 0px 0px 12px rgba(159, 5, 255, 0.43);
	width: 120px;
	height: 20px;
	margin-bottom: 20px;
	}
#reduction{
	width: 5px;
	height: 20px;
	background-color: red;
	position: relative;
	left: 0px;
	}
#seConnecter{
	font-size: 23px;
	margin:20px 0;
	text-align: center;
	border:1px solid black;
	}

#mepForm{
	display: flex;
	flex-direction: column;
	}
.ligne{
	margin:15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.start{
	justify-content: flex-start;
}
select , input{
	width: 238px;
	height: 35px;
	font-size: 20px;
}
.start2{
	display: flex;
	justify-content: flex-start;
}
input::placeholder{
	font-size: 12px;
}

fieldset{
	margin-top:10px;
	background-color: rgba(25, 0, 255, 0.04);/*bleu trés pale*/
	color:rgba(0, 0, 0, 0.6);/*gris pale*/
}
legend{
	background-color: rgba(0, 0, 0, 0.29);/*gris pale*/
	color:white;
	padding-right: 10px;
	padding-left: 10px;
	border:1px solid black;
	font-style: italic;
	font-size: 24px;
}
#information{
	display:none;
	font-size: 10px;
}
